<h2>Aprendendo sobre templates</h2>
<h3>Text interpolation</h3>

<!--Pode-se usar aqui cuidando com o memory leak-->
{{name}} - {{age}}

<!--Criando validações e somas bestas no componente-->
<p>
    {{1 + 1}}
    {{age < 10 ? "é maior que 1" : "não é maior que 1"}}
</p>

<h2>Property binding</h2>

<p>
    Property binding
    
    - é quando um elemento html passa a ser controlada por uma
    propriedade definida na classe de logica da aplicação;
</p>
Esse botão foi desativado usando a classe logica do componente.
<hr>

<!--sintaxe: <elemento [propriedade]="estado-do-angular"></elemento>-->
<button [disabled]="isDisabled">Button</button>
<hr>

<!--Setando os valores usando os estado dentro da classe de logica-->
<h3>Usando imagens</h3>
<img [alt]="name" [title]="name">

<hr>

<h2>Attribute Binding</h2>

<!--sintaxe: <elemento [attr.atributo-html]></elemento>-->
<p [attr.title]="name" [attr.aria-label]="name">Lorem ipsum</p>

<hr>

<!--Classe criada no estilo do componente-->
<h2>Class and Style Binding</h2>
<p [class.background-red]="age > 32" [class.background-blue]="age < 32">
    {{name}}
</p>

<p [style.text-decoration]="isTextDecoration">{{age}}</p>

<hr>

<h2>Targe event name</h2>

<button (click)="sum()">+</button>
<button (click)="sub()">-</button>

<input (keydown.shift.t)="onKeyDown($event)">

<!--Criando um evento dentro de uma div-->
<div style=
    "background: red; 
    width: 300px; 
    height: 300px; 
    margin-top: 10px;"
    (mousemove)="onMouseEvent($event)">

</div>